@import 'vars';
@import 'typography';
@import 'leaflet';
@import 'map';
@import 'choropleth';
@import 'dashboard';
@import 'colorbrewer';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}