<div name="choroplethDirective">
    <div>
        <p>Make a choropleth map</p>
        <!-- select column -->
        <div>
            <label for="">Columns</label>
            <select ng-model="choroplethEditor.layerColumnNm" ng-options="name for name in maps.layerColumns" ng-change="choroplethEditor.setColumnNm()">
                <option value="">선택</option>
            </select><br>

            <label for="">Color</label>
            <select ng-model="choroplethEditor.classColorbrew" ng-options="colorbrew for colorbrew in choroplethEditor.colorBrewerList" ng-change="choroplethEditor.getColorbrew()">
                <option value="">선택</option>
            </select><br>
        </div>

        <!-- set data interval size  -->
        <div style="border:1px solid #000000;">
            <label for="">Class</label>
            <select ng-model="choroplethEditor.class" ng-init="choroplethEditor.class='3'" ng-change="choroplethEditor.setClasses()">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select>
            <label for="">Mode</label>
            <select ng-model="choroplethEditor.mode" ng-init="choroplethEditor.mode='equal'" ng-change="choroplethEditor.setClasses()">
                <option value="equal">등간격</option>
                <option value="natural">내츄럴 브레이크(Jenks)</option>
                <option value="standard">표준편차</option>
                <option value="pretty">프리티 브레이크</option>
            </select>
            <ul>    
                <!-- <li>
                    <input type="text" ng-model="choroplethEditor.minValue"> ~ <input type="text" ng-model="choroplethEditor.maxValue[1]">
                </li>
                <li>
                    <input type="text" ng-model="choroplethEditor.maxValue[1]"> ~ <input type="text" ng-model="choroplethEditor.maxValue[2]">
                </li> -->
                <li ng-repeat="class in choroplethEditor.classes track by $index">
                    <input type="text" ng-model="choroplethEditor.classes[$index]"> ~ 
                    <input type="text" ng-if="choroplethEditor.classes.length != $index+1" ng-model="choroplethEditor.classes[$index+1]">
                    <input type="text" ng-if="choroplethEditor.classes.length == $index+1" ng-model="choroplethEditor.valueClass.max">
                </li>
            </ul>
        </div>

        <div id="slidecontainer">
            <label for="opacity-slider">Opacity</label>
            <input type="range" min="0" max="100" class="opacity-slider" ng-model="choroplethEditor.opacity" ng-change="choroplethEditor.changeOpacity()">
        </div>
    </div>
    <div class="add-layer">
        <button class="add-layer-btn" ng-click="choroplethEditor.applyViualization();">APPLY</button>
        <button class="add-layer-btn" ng-click="choroplethEditor.setGeoViz(-1, 2);">RETURN</button>
    </div>
</div>
    
    